*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff7f1;
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.game-board {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

.cell {
    background-color: #ffe4c9;
    outline: 1px solid #45867f;
    width: calc(100% / 3);
    height: calc(100% / 3);
    flex-shrink: 0;
}

.restart-button {
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: #e78895;
    color: white;
    border: none;
}

.marker-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .marker-x {
        background-color: #e78895;
        padding: 0.5rem 3rem;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
    }
    .marker-o {
        background-color: #bed1cf;
        padding: 0.5rem 3rem;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: black;
    }
}
