*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff7f1;
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.game-board {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

.cell {
    background-color: #ffe4c9;
    outline: 1px solid #45867f;
    width: calc(100% / 3);
    height: calc(100% / 3);
    flex-shrink: 0;
    display: grid;
    place-content: center;
    font-size: 3rem;
    cursor: pointer;
}

.restart-button {
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: #e78895;
    color: white;
    border: none;
}

.marker-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.marker-x,
.marker-o {
    padding: 0.5rem 3rem;
    border: none;
    font-size: 1.5rem;
    color: white;
    position: relative;
    &::before {
        content: attr(data-score);
        position: absolute;
        top: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: black;
    }
}
.marker-x {
    background-color: #e78895;
}
.marker-o {
    background-color: #bed1cf;
}

.result-modal {
    opacity: 0;
    transform: scaleY(0);
}
.result-modal[open] {
    opacity: 1;
    transform: scaleY(1);
    padding: 1rem;
    border: 1px solid #45867f;
    position: fixed;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    animation: zoomIn 0.5s ease-in;

    & * + * {
        margin-top: 1rem;
    }
}
.result-modal::backdrop {
    background: linear-gradient(#e78895, #45867f);
    opacity: 0.5;
    display: grid;
    place-content: center;
}

.marker-picker,
.game-board,
.restart-button {
    animation: moveInBottom 0.5s ease-in;
}

@keyframes moveInBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
